@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito:wght@300&display=swap');


.landingPage h1 {
  margin: 150px 20px 50px;
  font-size: 5rem;
}

.landingPage h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.landingPage {
  text-align: center;
}

/* .landingPage {
  margin:0;
  padding: 0 auto;
  text-align: center;
} */


.spinner {
  margin: auto;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nftOfTheDayCard {
  margin: auto;

}


.landingPage h3 {
  margin: 50px 20px;
  font-size: 3rem;
}

.landingPage h4 {
  margin: 30px 20px 10px;
  font-size: 2rem;
}

.landingPage .nftOfTheDayCard {
  width: 20rem;
  position: relative;
  z-index: 1;
  margin: auto;
  cursor: pointer;
}

.topLikedCard:hover {
  background-color: rgb(43, 43, 43);
}

.nftOfTheDayCard:hover .smallPoster {
  transform: scale(1.2);
}

.landingPage .topLikedCard {
  width: 25rem;
  display: flex;
  padding: 10px;
  z-index: 1;
  cursor: pointer;
  /* border-radius: 2%; */
}

.topLikedCard:hover .smallPoster {
  transform: scale(1.2);
}

.topLikedCard .ethImg {
  width: 20px;
}

.landingPage .ct {
  display: inline;
  margin-right: 50px;
}

.landingPage .pr {
  display: inline;
  margin-left: 50px;
  color: rgb(153, 255, 0);
}

.landingPage .topLikedPrice {
  color: rgb(153, 255, 0);
  font-size: 20px;
  display: inline;
  margin-left: 15px;
}

.landingPage .bd {
  /* height: 100px; */
  text-align: center;
}

.landingPage .landingPageRow {
  margin-bottom: 80px;
}

.landingPage .howToRow {
  background-color: rgb(43, 43, 43);
  list-style: none;
  justify-content: center;
  display: flex;
  padding: 3em;
  /* line-height: 2; */
}

.topLikedImgDiv {
  border-radius: 50%;
  overflow: hidden;
}

.landingPage .howToItem {
  flex: 1 1 0px;
  display: inline;
  padding: 20px;
  margin: 30px;
  /* border: 2px;
  border-radius: 2%;
  border-color: white;
  border-style: solid; */
}

.landingPage .likesSpan {
  color: rgb(255, 63, 95);
  margin-left: 15px;
  font-size: 20px;
}

/* .landingPage .movieRow {
  margin: 0;
} */

.landingPage .topLikedBody {
  display: inline;
  margin: auto;
}

.landingPage .vsmallPoster {
  display: inline;
  width: 8rem;
  border-radius: 50%;
}

.ethImg {
  display: inline;
  margin-left: 30px;
  filter: drop-shadow(2px 4px 6px black);
  z-index: 2;
}

.topLikedHeart {
  fill: rgb(255, 63, 95);
  width: 2em;
  height: 2em;
  filter: drop-shadow(2px 4px 6px black);
  z-index: 2;
}

.info {
  display: flex;
}

.landingPage .index {
  font-size: 25px;

  margin: auto;
}

.topLikedName {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
