.landingPage h1 {
  margin: 200px 20px 50px;
  font-size: 5rem;
  text-align: center;
}

.landingPage h3 {
  margin: 50px 20px;
  font-size: 3rem;
  text-align: center;
}

.landingPage h4 {
  margin: 50px 20px;
  font-size: 2rem;
  text-align: center;
}

.landingPage .moviesListCard {
  width: 30rem;
  position: relative;
  z-index: 1;
  margin: auto;
}

.landingPage .topLikedCard {
  width: 18rem;
  position: relative;
  z-index: 1;
}

.topLikedCard:hover .smallPoster {
  transform: scale(1.2);
}
