.movieRow {
  margin-top: 15px;
}

.App .topLikedPrice {
  color: rgb(153, 255, 0);
}

.card {
  overflow: hidden;
  border-radius: 5%;
  margin-top: 15px;
  background-color: rgb(43, 43, 43);
}

.moviesListCard {
  width: 18rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-align: center;
}

.nftImageDiv {
  overflow: hidden;
}

.moviesListCard:hover .smallPoster {
  transform: scale(1.2);
}

div.poster {
  margin: 10px;
}

.smallPoster {
  user-select: none;
  position: relative;
  transition: 0.3s all ease-in-out;
}

.star {
  width: 32.5em;
  height: 4em;
  filter: drop-shadow(2px 4px 6px black);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: -3%;
}

.starFill {
  fill: rgb(255, 63, 95);
}

.starEmpty {
  fill: white;
}
