@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito:wght@300&display=swap');

.App {
  min-height: 100vh;
  /* padding-bottom: 100px; */
}

body {
  overflow-x: hidden;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  background-color: rgb(54, 54, 54);
  color: white;
  /* height: 100%;
  margin: 0;
  padding: 0; */
}

.text-to-right {
  direction: rtl;
  text-align: right;
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ml-auto {
  position: absolute;
  right: 20%;
}

.uniq-text {
  position: absolute;
  font-family: 'Nunito', sans-serif;
  left: 11%;
  font-weight: bold;
}

.nfts-text {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.wishlist-text {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.collection-text {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.navbar {
  position: relative;
  width: 100%;
  height: 100px
}

.navbar-brand.brand {
  color: white;
  padding: 0;
}

.navbar-brand.nav-link.link {
  color: white !important;
}

.navItem {
  color: white !important;
}

.nav-link {
  padding: 0;
}

/* .main-container {
  width: 100%;
} */

img.moviesLogo {
  position: absolute;
  left: 5%;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 5px;
}
